mf-parent/mf-restfull-server/src/main/resources/Test02XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Test02XMLSchema" xmlns:tns="http://www.example.org/Test02XMLSchema" elementFormDefault="qualified">

    <element name="Greetings" type="string"></element>

    <complexType name="GreetingListType">
    	<attribute name="language" type="string"></attribute>
    </complexType>
</schema>