mf-parent/mf-restfull-server/src/main/resources/Test01XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xsd:element name="Greetings" type="GreetingListType" />

	<xsd:complexType name="GreetingListType">
		<xsd:sequence>
			<xsd:element name="Greeting" type="GreetingType"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GreetingType">
		<xsd:sequence>
			<xsd:element name="Text1" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:element name="Text2" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="language" type="xsd:language" />
	</xsd:complexType>

</xsd:schema>